modules = ["nodejs-20", "bash", "dotnet-7.0", "dotnet-8.0", "angular-node-20", "c-clang14", "docker", "nodejs-with-prybar-18", "web", "typescript-language-server", "python-3.10", "python-base-3.13", "php-8.1", "php-8.3", "nodejs-23", "java-graalvm22.3", "gcloud", "go-1.23"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "."
