modules = ["nodejs-20", "bash", "dotnet-7.0", "dotnet-8.0", "angular-node-20", "c-clang14", "docker", "nodejs-with-prybar-18", "web", "typescript-language-server", "python-3.10", "python-base-3.13", "php-8.1", "php-8.3", "nodejs-23", "java-graalvm22.3", "gcloud", "go-1.23", "postgresql-16"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "."
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 25967039
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"

[[ports]]
localPort = 5000
externalPort = 80
